* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: #191a1e;
  color: #eeeeef;
  height: 100vh;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
}

.logo {
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
}

.logo img {
  height: auto;
  max-width: 350px;
}

.card {
  width: 100%;
  max-width: 460px;
  background: #25262a;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
}

.card h2 {
  margin: 0 0 14px;
  font-size: 20px;
  font-weight: 450;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  color: #cbcdcd;
  opacity: .85;
  margin-bottom: 22px;
}

.continue {
  padding: 10px;
  font-size: 17px;
  font-weight: 450;
  border-radius: 5px;
  background: #2b2e33;
  color: #efeff1;
  border: 0px solid transparent;
  cursor: pointer;
  transition: all .2s ease;
}

.continue:hover {
  background: #3e4249;
}

.back {
  display: inline-block;
  margin-top: 18px;
  font-size: 12px;
  color: #a2a3a6;
  text-decoration: none;
}

.back:hover {
  color: #ac4d49;
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid #333;
  border-top-color: #ba4545;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.verify-box {
  text-align: center;
}

.verify-box h3 {
  margin-bottom: 12px;
}

.verify-btn {
  margin-top: 15px;
  padding: 12px 20px;
  background: #2a2d33;
  border: 1px solid #333;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.verify-btn:hover {
  background: #353942;
}

.hidden {
  display: none;
}

#loading {
  text-align: center;
}

#loading p {
  margin-top: 10px;
  color: #aaa;
}

/* Ring giá»‘ng F95 */
.lds-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 6px solid #eee;
  border-radius: 50%;
  animation: lds-ring 1.2s infinite;
  border-color: #eee transparent transparent transparent;
}

@keyframes lds-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#error h3 {
  margin-bottom: 8px;
}

#error p {
  color: #aaa;
}