* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #393837;
    color: #acacac;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.BG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../Data/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
}

.panel {
    display: none;
    padding: 20px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(1px);
    box-shadow: inset 2px 2px 1px 0 rgba(255,255,255,0.3),
                inset -2px -2px 2px 1px rgba(255,255,255,0.3),
                0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    margin: 10px;
}

.login {
    padding: 20px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(1px);
    box-shadow: inset 2px 2px 1px 0 rgba(255,255,255,0.3),
                inset -2px -2px 2px 1px rgba(255,255,255,0.3),
                0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    margin: 10px;
}

input, select, textarea, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid #acacac;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(1px);
    box-shadow: inset 2px 2px 1px 0 rgba(255,255,255,0.3),
                inset -2px -2px 2px 1px rgba(255,255,255,0.3),
                0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 12px rgba(13,137,255,0.6);
}

button {
    cursor: pointer;
    background: #0d89ff;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #2196F3;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

textarea, .radio-group {
    scrollbar-width: thin;
    scrollbar-color: #1F1F1F #1F1F1F;
}

textarea::-webkit-scrollbar, .radio-group::-webkit-scrollbar {
    width: 10px; height: 10px;
}

textarea::-webkit-scrollbar-thumb, .radio-group::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #panel { padding: 15px; border-radius: 20px; }
    input, select, textarea, button { font-size: 14px; }
}